{% extends "app/layout.html" %}

{% block content %}

<div class="jumbotron">
    <h1>Jordle</h1>
    <p class="lead">Lets Get Jordleing</p>
    <p><a href="{% url 'question_view' %}" class="btn btn-primary btn-large" >Get a question&raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Placeholder 1</h2>
        <p>
            Placeholder 1 text.
        </p>
        <p><a class="btn btn-default" href="https://djangobook.com/django-tutorials/">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Jeopardy Website</h2>
        <p>The Jeopardy Website.</p>
        <p><a class="btn btn-default" href="https://www.jeopardy.com/">Go now &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Github</h2>
        <p>Link to the github repo for the project</p>
        <p><a class="btn btn-default" href="https://github.com/Mitchhurley/Jordle">Learn more &raquo;</a></p>
    </div>
</div>

{% endblock %}
